<HTML>
    <HEAD>
        <title>KnowledgeShare</title>
        <h1>WELCOME TO KnowledgeShare</h1>
    </HEAD>
    <BODY>
        <h3>{{ author.author_name }}</h3>
        <h4>{{ author.email }}</h4><br>
        <button type="button" onclick="location.href='/new_article/';">Add Article</button><br>
        <button type="button" onclick="location.href='/view_article/';">View Articles</button><br><br><br>
        <button type="button" onclick="location.href='/logout/';">Logout</button>
    </BODY>
</HTML>

