<html>
	<head lang="en">
		<title>Enjoy Reading!</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>

  <div class="panel-group" id="accordion">
  {% for article in article_list%}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" 
          href="#collapse-{{forloop.counter}}">
          {{ article.title}}(published on {{ article.pub_date }}) by {{ article.uid.author_name }}
        </a>
      </h4>
    </div>
    <div id="collapse-{{forloop.counter}}" class="panel-collapse collapse">
      <div class="panel-body">
        {{article.content}}
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
	</body>
</html>